Session_Name
@SESSION

Session_Folder
.

Fixed_Density
0

Menu_Option
2 1

Number_of_Actors
@VCOUNT

Network-File
@ALAAM/snowball_experiments/full/estimation_project90_waves@WAVES_seeds@SEEDS/project90_giantcomponent_adjmatrix_waves@WAVES_seeds@SEEDS_num@SAMPLENUM.txt

Attribute-File
@ATTRFILE

Num_of_seedsets
1

Num_of_seeds
1

User_Zoning_File
1
@ALAAM/snowball_experiments/full/estimation_project90_waves@WAVES_seeds@SEEDS/zonefile_waves@WAVES_seeds@SEEDS_num@SAMPLENUM.txt

Structural-Parameter
1

Attribute-Density
1
0

Activity
1
0

Star2
0
0

Star3
0
0

Contagion
1
0

T1
0
0

T2
0
0

T3
0
0

Setting-Homophily
0
0

Setting-File-Name
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXUNUSED

Remoteness
0
0

Distance-File-Name
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXUNUSED

Geographic-Homophily
0
0

Distance-File-Name
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXUNUSED

Remotness-to-partners
0
0

Distance-File-Name
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXUNUSED

Contagion-among-partners
0
0

Distance-File-Name
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXUNUSED

Two-Path-Equivalence
0
0

Partner-Activity
0
0

Partner-Resource
0
0


Actor-Attribute-Parameter
1

Binary-Attributes
1
1

Binary-Attribute-File
@ALAAM/snowball_experiments/full/estimation_project90_waves@WAVES_seeds@SEEDS/binaryAttribute_50_50_n4430_waves@WAVES_seeds@SEEDS_num@SAMPLENUM.txt

binaryAttribute_oOb
1
0

binaryAttribute_o_Ob
0
0


Continuous-Attribute-Parameter
1
1

Continuous-Attribute-File
@ALAAM/snowball_experiments/full/estimation_project90_waves@WAVES_seeds@SEEDS/continuousAttributes_n4430_waves@WAVES_seeds@SEEDS_num@SAMPLENUM.txt

continuousAttribute_oOc
1
0


Categorical-Attribute-Parameter
0


Number-of-subphases
5

Gaining-factor
0.01

Multiplication-factor
10

Number-of-iteration-phase3
500

Number-of-estimation-runs
50

